{{> header}}
            <mj-section padding="0">
              <mj-column>

                <!-- Title -->
                <mj-text font-size="28px" font-weight="400" color="#000000" padding-bottom="16px">
                  We've received your message!
                </mj-text>

                <!-- Greeting -->
                <mj-text font-size="16px" color="#000000" padding-bottom="8px">
                  Dear {{data.userName}},
                </mj-text>

                <!-- Paragraph 1 -->
                <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
                  Thank you for reaching out to Leiaqa! We’ve received your message, and our support team is reviewing your inquiry.
                </mj-text>

                <!-- Ticket Summary -->
                <mj-section background-color="#EDEAE7" padding="10px" border-radius="6px">
                  <mj-column>
                    <mj-text font-size="15px" font-weight="400" color="#000000" line-height="1.6">
                      <strong>Here’s a summary of your ticket for your reference:</strong><br />
                      <strong>Ticket ID:</strong> {{data.ticketNumber}}<br />
                      <strong>Subject:</strong> {{data.subject}}<br />
                    </mj-text>
                  </mj-column>
                </mj-section>

                <!-- Paragraph 2 -->
                <mj-text font-size="16px" color="#000000" padding-top="12px" padding-bottom="12px" line-height="1.6">
                  We aim to respond to all inquiries as soon as possible. If your issue requires additional time to resolve, we’ll keep you updated on our progress.
                </mj-text>

                <!-- Additional Information -->
                <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
                  In the meantime, you can check our FAQ page (<a href="https://leiaqa.com/faq" style="color:#006FE8; text-decoration:underline;">https://leiaqa.com/faq</a>) for quick answers to common questions.
                </mj-text>

                <!-- Closing Message -->
                <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
                  Thank you for your patience, and we’ll be in touch soon!
                </mj-text>
{{> footer}}