{{> header}}
    <mj-section padding="0">
      <mj-column>

        <!-- Title -->
        <mj-text font-size="28px" font-weight="400" color="#000000" padding-bottom="16px">
          Congratulations! Your {{data.programTypeHeader}} has been approved
        </mj-text>

        <!-- Greeting -->
        <mj-text font-size="16px" color="#000000" padding-bottom="8px">
          Dear {{data.lecturerName}},
        </mj-text>

        <!-- Paragraph 1 -->
        <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
          We’re excited to let you know that your {{data.programTitle}}, has been successfully reviewed and approved. It is now live and ready to be shared with students on Leiaqa.
        </mj-text>

        <!-- Paragraph 2 -->
        <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
          You can view and manage directly from your instructor board. To get started, click the button below:
        </mj-text>

        <!-- CTA Button -->
        <mj-button align="left" border-radius="6px" background-color="#76003E" color="#ffffff" font-size="16px" padding-bottom="20px" href="{{data.url}}">
          Go to my board
        </mj-button>

        <!-- Additional Encouragement -->
        <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
          We encourage you to share the link to your content to attract new enrollments and reach a wider audience.
        </mj-text>

        <!-- Gratitude and Support -->
        <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
          Thank you for contributing your expertise to our platform. We’re thrilled to support your journey in educating and inspiring learners worldwide.
        </mj-text>

        <!-- Support Message -->
        <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
          If you have any questions or need assistance, feel free to reach out to our support team at 
          <a href="mailto:info@leiaq.com" style="color:#660043; text-decoration:underline;">info@leiaq.com</a>.
        </mj-text>

        <!-- Positive Impact -->
        <mj-text font-size="16px" color="#000000" padding-bottom="12px" line-height="1.6">
          Here’s to making a positive impact together!
        </mj-text>

{{> footer}}