{{> header}}
{{!-- <mj-section padding="40px" css-class="mobile-padding">
  <mj-column width="100%">
    <!-- Header -->
    <mj-text align="center" color="#33082f" font-size="50px" font-family="Somar Sans Medium" font-weight="bold" padding-bottom="15px" css-class="main-header">
      You’ve Been Assigned to a New Post
    </mj-text>

    <!-- Greeting -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding="15px 0">
      Dear {{data.lecturerName}},
    </mj-text>

    <!-- Main Content -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding="15px 0">
      We’re pleased to inform you that you’ve been assigned to the following post: {{data.postTitle}}.
      <br /><br />
      You can access and manage this post directly from your instructor dashboard. Click the link below to get started:
    </mj-text>

    <!-- Button -->
    <mj-button href="{{data.url}}" background-color="#3f0b37" color="#ffffff" font-size="20px" padding="20px 0" css-class="responsive-button">
      Go to My Dashboard
    </mj-button>

    <!-- Support Section -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding-top="15px" padding="15px 0">
      If you have any questions or need assistance, feel free to contact us at <a href="mailto:info@classeshub.com" style="color: #ff414c;">info@classeshub.com</a>.
    </mj-text>

    <!-- Footer -->
    <mj-text align="left" color="#777777" font-size="16px" line-height="28px" padding="15px 0">
      Thank you for your continued contribution to Classes-Hub!
      <br /><br />
      Best regards, <br />  
      <strong>The Classes-Hub Team</strong>
    </mj-text>
  </mj-column>
</mj-section> --}}
{{> footer}}

