            <!-- Signature -->
            <mj-text font-size="14px" color="#000000" padding-top="12px" line-height="1.4">
              Best regards,<br />
              <strong>Leiaqa team</strong>
            </mj-text>

            <mj-divider border-width="1px" border-color="#eeeeee" padding="24px 0 8px" />

            <!-- Footer Row -->
            <mj-section padding-top="0px" padding-bottom="8px" padding-left="0px" padding-right="0px">
              <mj-column width="66.66%" vertical-align="middle">
                <mj-text font-size="12px" align="left" color="#777777" padding-bottom="0px">
                  ©2026 Leiaqa. All copyrights reserved.
                </mj-text>
                <mj-text font-size="12px" align="left" color="#777777">
                  <a href="https://leiaqa.com/en/terms-and-conditions" style="color:#777777;">Terms & Conditions</a> &nbsp;•&nbsp;
                  <a href="https://leiaqa.com/en/privacy-policy" style="color:#777777;">Privacy Policy</a> &nbsp;•&nbsp;
                  <a href="https://leiaqa.com/en/payment-policy" style="color:#777777;">Payment Policy</a>
                </mj-text>
              </mj-column>

              <mj-column width="33.33%" vertical-align="middle">
                <mj-social align="right" font-size="12px" icon-size="20px" mode="horizontal" padding="0">
                  <mj-social-element src="https://leiaqa-production.fra1.digitaloceanspaces.com/assets/emails/linkedIn.png" href="https://www.linkedin.com/company/leiaqa/" alt="LinkedIn" />
                  <mj-social-element src="https://leiaqa-production.fra1.digitaloceanspaces.com/assets/emails/instagram.png" href="https://www.instagram.com/leiaqa_edu/" alt="Instagram" />
                  <mj-social-element src="https://leiaqa-production.fra1.digitaloceanspaces.com/assets/emails/facebook.png" href="https://www.facebook.com/leiaqa.education" alt="Facebook" />
                  <mj-social-element src="https://leiaqa-production.fra1.digitaloceanspaces.com/assets/emails/whatsapp.png" href="https://api.whatsapp.com/send/?phone=201050580075&text&type=phone_number&app_absent=0" alt="WhatsApp" />
                </mj-social>
              </mj-column>
            </mj-section>

          </mj-column>
        </mj-section>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>