{{> header}}
{{!-- <mj-section padding="15px 30px" css-class="mobile-padding">
  <mj-column width="100%">
    <!-- Header -->
    <mj-text align="center" color="#33082f" font-size="50px" font-family="Somar Sans Medium" font-weight="bold" padding-bottom="40px" css-class="main-header">
      Changes Applied to Your Course
    </mj-text>

    <!-- Greeting -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding="0px 0px">
      Dear {{data.lecturerName}},  
    </mj-text>

    <!-- Main Content -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding="0px 0px">
      We want to let you know that updates have been applied to your program {{data.programTitle}}, by the Classes-Hub admin team.
    </mj-text>

    <!-- Link Section -->
    <mj-button href="{{data.url}}" background-color="#3f0b37" color="#ffffff" font-size="20px" padding="30px 30px" css-class="responsive-button">
      Review the Changes
    </mj-button>

    <!-- Support Section -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding="15px 0px">
      If you have any questions or concerns about these updates, feel free to reach out to us at <a href="mailto:info@classeshub.com" style="color: #ff414c;">info@classeshub.com</a>. Our team is here to assist you.
    </mj-text>

    <!-- Closing Statement -->
    <mj-text align="left" color="#555555" font-size="16px" line-height="28px" padding="15px 0px">
      Thank you for your continued dedication to providing quality learning content on Classes-Hub!
    </mj-text>

    <!-- Footer -->
    <mj-text align="left" color="#777777" font-size="14px" line-height="28px" padding="15px 0px">
      Best regards, <br />  
      <strong>The Classes-Hub Team</strong>
    </mj-text>
  </mj-column>
</mj-section> --}}
{{> footer}}